<div class="wrapper">
  <div class="container">
    <h1 class="text-center title"><%= @article.title%></h1>
    <h2 class="text-center"><%= @article.content %></h2>
    <div class="continer justify-content text-center buttons">
      <%= link_to "Edit article", edit_article_path(@article), class: "btn btn-primary" %>
      <%= link_to "Back to list", articles_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
